:root {
  --mxw: 1160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    color: inherit;
}

body {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background: hsla(279, 95%, 49%, 1);
  background: linear-gradient(
    90deg,
    hsla(279, 95%, 49%, 1) 0%,
    hsla(295, 96%, 50%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(279, 95%, 49%, 1) 0%,
    hsla(295, 96%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(279, 95%, 49%, 1) 0%,
    hsla(295, 96%, 50%, 1) 100%
  );
  overflow: auto;
}

.container {
  max-width: 1160px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0.6em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.title {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.8;
}

/* board */
.board {
  width: 100%;
  height: 100%;
  min-height: 350px;
  background: #fff;
  border: 1px solid #0003;
}

/* Controler */
.controler {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: unset;
}

.button,
.color,
.select {
  font-size: 0.9em;
  border: 0;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.6em;
  cursor: pointer;
  background: #fff;
  border-color: #fff;
}

.color {
  width: 38px;
  height: 38px;
  padding: 0em;
}

.select {
  background: #fff;
}

.clear {
  color: #f00;
  padding: 0.5em 0.7em;
}
.clear:hover {
  background: #f00;
  color: #fff;
}

/* Copyright */
.copyright {
  padding: 0.5em 0;
  color: #fff;
}

@media only screen and (max-width: 489px) {
  .controler label {
    display: none;
  }

  .controler :not(label) {
    padding: 0.6em 0.6em;
  }

  .controler .select#size {
    margin-left: 0;
  }
}
